@keyframes rotateDisk {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotating {
    animation: rotateDisk 8s linear infinite;
    animation-play-state: running;
  }
  
  .rotating.paused {
    animation-play-state: paused;
  }