@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utulities;



@utility sonus-bg-linear-gradient {
  background: linear-gradient(0deg, rgba(8, 8, 8, 1) 0%, rgb(17, 17, 17) 100%);
}

@utility font-doto {
  font-family: "Doto";
  font-weight: 500;
}

body {
  background-color: rgb(8, 8, 8);
  font-family: "Old Standart TT";
  font-weight: regular;
  font-weight: lighter;
  user-select: none;
}


body::-webkit-scrollbar {
  width: var(5px)
}

body::-webkit-scrollbar-track {
  background: var(#333333);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background: var(#333333);
  border-radius: 20px;

}