
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utulities;



@utility sonus-bg-linear-gradient {
  background: linear-gradient(0deg,rgba(8, 8, 8, 1) 0%, rgb(17, 17, 17) 100%);
}

body{
    background-color: rgb(8, 8, 8);
    font-family: "Old Standart TT";
    font-weight: regular;
    user-select: none;
    font-weight:lighter;
}
